.app {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}

header {
  padding: 1rem 0 2rem; 
  position: sticky;
  top: 0;
  transition: top 0.5s ease-in-out;
  background-color:  #fff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 10001;
}

.search {
  padding: 10px;
  font-size: 20px;
  max-width: 500px;
}

.logo{
  margin: 0.5rem 0 1rem;
  width: 200px;
  height: 30px;
  background-color: #ed2327
}

.input-search-content{
 
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

.table-listing{
  margin-top: 2rem;
}

footer{
  z-index: 5;
  position: relative;
  background-color: #3d3d3d;
  color: #fff;
}